.JobCard {
  
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  word-wrap: break-word;
  // color: inherit;
  flex: 1 1 auto;
  min-height: 1px;

  padding: 20px;
  

  margin-top: 10px;
  margin-bottom: 10px;

  //make outline same color as parent's bkrnd later
  // parent's background-color: rgb(165, 156, 156);
  // content > border > outline
  border: 5px solid rgb(49, 47, 83);
  border-radius: 2pt;
  outline: rgb(165, 156, 156) solid 10px;
  background-color: rgb(182, 181, 181);
  

  // The major web browsers will render a <p> tag with margin above and
  // below the paragraph. A <div> tag will be rendered without any margin at all.

  // border-style: solid; //border style needs to be here for any border-prop to do anything
  // border-width: 5px;

  p {
    text-align: left;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    word-wrap: break-word;
    color: inherit;
    box-sizing: border-box;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1rem;
    margin-bottom: .75rem;
  }

  .JobCard-applied {
    
    overflow: visible;
    
    display: inline-block;
    
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    
    border-radius: .25rem;
    
    text-transform: uppercase!important;
    font-weight: 700!important;
    opacity: .65;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }

  .JobCard-apply {
    
    overflow: visible;
    
    display: inline-block;
    
    border: 1px solid transparent;
    padding: .475rem .75rem;
    font-size: 1rem;
    
    border-radius: .25rem;
    
    text-transform: uppercase!important;
    font-weight: 700!important;

    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
}
